body{
    background-image:url("game_3_of_the_2006_NBA_finals.jpg");
}
#head{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    height: 250px;
   margin-left: 500px;
   border-radius: 25%;
}
.change1{
    color: red;
    text-align: center;
    font-size :50px;
    padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.words{
    color: rgba(156, 23, 245, 0.973);
    padding-left: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}